:root {
    --primary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #fff;
    --transition-duration: 1s;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100dvh;
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    height: 60dvh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.fade {
    animation: fade var(--transition-duration) ease-in-out;
}

/* Săgeți pentru navigare */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: var(--primary-color);
}

/* Dots */
.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active, .dot:hover {
    background-color: var(--primary-color);
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}