.container{
    width: 800px;
    margin: 50px auto;
}
.container > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.images{
    display: flex;
    align-items: stretch;
}
.images > img{
    flex-grow: 1;
    display: block;
}